.leftstackswitcher{
	background-color: red;
	color: yellow;
}
.stack2{
	background-color: blue;
}/*
.main_window{
	background-color: yellow;
}
.main_window_class{
	background-color: blue;
}
.main_window_widget{
	background-color: green;
}*/
